@model Model.engage_resume_Model
@using Model;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>录用审批</title>
    <link href="~/Content/table.css" rel="stylesheet" />
    <link href="~/Content/cwcalendar.css" rel="stylesheet" />
    <script src="~/javascript/comm/comm.js"></script>
    <script src="~/javascript/comm/list.js"></script>
    <script src="~/javascript/calendar-ch.js"></script>
    <script src="~/javascript/jquery-1.7.2.js"></script>
    <script src="~/javascript/locate.js"></script>
    <script src="~/javascript/select.js"></script>
    <script type="text/javascript">
        function search() {
            var r = $("#passPasscomment").val().trim();
 		    if (r.toString() == "通过") {
 		        window.location.href = "/registerSP/TG?" + $("form").serialize();
 		    }else{
 		        if (confirm("确定要这样吗，人才难得哦。。。。。。")) {
 		            window.location.href = "/registerSP/BTG?" + $("form").serialize();
 		        }
 		    }
 		}
        function sf() {
            document.getElementById("passPasscomment").value = "通过";
        }
        function ly() {
            document.getElementById("passPasscomment").value = "不通过";
        }
    </script>
</head>
<body onload="check(),luy()">
    <form id="recruitAction!returnSiftList" name="fm" action="/HR_Fist/recruit/recruitAction!returnSiftList" method="post" enctype="multipart/form-data">

        <table width="100%">
            <tr>
                <td>
                    <font color="black">您正在做的业务是：人力资源--招聘管理--录用管理--录用审批</font>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <input type="radio" name="er.id" value="通过" checked onclick="sf()">通过
                    <input type="radio" name="er.id" value="不通过" onclick="ly()">不通过
                    <input type="button" value="确认" class="BUTTON_STYLE1"
                           onclick="search();">
                    <input type="button" value="返回" class="BUTTON_STYLE1"
                           onclick="history.back();">

                </td>
            </tr>
        </table>
        @{
            engage_interview_resume eir = @ViewBag.eim as engage_interview_resume;
        }
        <table width="100%" border="1" cellpadding=0 cellspacing=1
               bordercolorlight=#848284 bordercolordark=#eeeeee
               class="TABLE_STYLE1">
            <tr>
                <td class="TD_STYLE1" width="10%">
                    职位分类
                </td>
                <td width="10%" class="TD_STYLE2">
                    @Html.EditorFor(model => model.human_major_kind_id, new { htmlAttributes = new { @class = "INPUT_STYLE2", @readonly = "readonly", @hidden = "hidden" } })
                    @Html.EditorFor(model => model.human_major_kind_name, new { htmlAttributes = new { @class = "INPUT_STYLE2", @readonly = "readonly" } })
                    @Html.EditorFor(model => model.res_id, new { htmlAttributes = new { @class = "INPUT_STYLE2", @readonly = "readonly", @hidden = "hidden" } })
                    @Html.TextBox("ein_id",eir.ein_id, new { @class = "INPUT_STYLE2", @readonly = "readonly", @hidden = "hidden"  })
                </td>
                <td width="10%" class="TD_STYLE1">
                    职位名称
                </td>
                <td width="15%" class="TD_STYLE2">

                    @Html.EditorFor(model => model.human_major_name, new { htmlAttributes = new { @class = "INPUT_STYLE2", @readonly = "readonly" } })
                    @Html.EditorFor(model => model.human_major_id, new { htmlAttributes = new { @class = "INPUT_STYLE2", @readonly = "readonly", @hidden = "hidden" } })
                </td>
                <td width="10%" class="TD_STYLE1">
                    招聘类型
                </td>
                <td width="20%" class="TD_STYLE2" colspan="2">
                    @Html.EditorFor(model => model.engage_type, new { htmlAttributes = new { @class = "INPUT_STYLE2", @readonly = "readonly" } })
                </td>
                </td>
                <td width="10%" rowspan="6" align="center">
                    <div style="width:186px;height:138px;margin-left:auto;">
                        <img src="@Model.human_picture" height="136" width="184" alt="@Model.human_picture" title="@Model.human_name" />
                    </div>
                </td>

            </tr>

            <tr>
                <td class="TD_STYLE1">
                    姓名
                </td>
                <td class="TD_STYLE2">
                    @Html.EditorFor(model => model.human_name, new { htmlAttributes = new { @class = "INPUT_STYLE2", @readonly = "readonly" } })
                </td>
                <td class="TD_STYLE1">
                    性别
                </td>
                <td class="TD_STYLE2">
                    @Html.EditorFor(model => model.human_sex, new { htmlAttributes = new { @class = "INPUT_STYLE2", @readonly = "readonly" } })
                </td>
                <td class="TD_STYLE1">
                    EMAIL
                </td>
                <td colspan="2" class="TD_STYLE2">
                    @Html.EditorFor(model => model.human_email, new { htmlAttributes = new { @class = "INPUT_STYLE2", @readonly = "readonly" } })
                </td>
            </tr>

            <tr>
                <td class="TD_STYLE1">
                    电话号码
                </td>
                <td class="TD_STYLE2">
                    @Html.EditorFor(model => model.human_telephone, new { htmlAttributes = new { @class = "INPUT_STYLE2", @readonly = "readonly" } })
                </td>
                <td class="TD_STYLE1">
                    家庭电话
                </td>
                <td class="TD_STYLE2">
                    @Html.EditorFor(model => model.human_homephone, new { htmlAttributes = new { @class = "INPUT_STYLE2", @readonly = "readonly" } })
                </td>
                <td class="TD_STYLE1">
                    手机
                </td>
                <td colspan="2" class="TD_STYLE2">
                    @Html.EditorFor(model => model.human_mobilephone, new { htmlAttributes = new { @class = "INPUT_STYLE2", @readonly = "readonly" } })
                </td>
            </tr>

            <tr>
                <td class="TD_STYLE1">
                    住址
                </td>
                <td colspan="3" class="TD_STYLE2">
                    @Html.EditorFor(model => model.human_address, new { htmlAttributes = new { @class = "INPUT_STYLE2", @readonly = "readonly" } })
                </td>
                <td class="TD_STYLE1">
                    邮编
                </td>
                <td colspan="2" class="TD_STYLE2">
                    @Html.EditorFor(model => model.human_postcode, new { htmlAttributes = new { @class = "INPUT_STYLE2", @readonly = "readonly" } })
                </td>
            </tr>

            <tr>
                <td class="TD_STYLE1">
                    国籍
                </td>
                <td class="TD_STYLE2">
                    @Html.EditorFor(model => model.human_nationality, new { htmlAttributes = new { @class = "INPUT_STYLE2", @readonly = "readonly" } })
                </td>
                <td class="TD_STYLE1">
                    出生地
                </td>
                <td class="TD_STYLE2">
                    @Html.EditorFor(model => model.human_birthplace, new { htmlAttributes = new { @class = "INPUT_STYLE2", @readonly = "readonly" } })
                </td>
                <td class="TD_STYLE1">
                    生日
                </td>
                <td class="TD_STYLE2" colspan="2">
                    @Html.EditorFor(model => model.human_birthday, new { htmlAttributes = new { @class = "INPUT_STYLE2", @readonly = "readonly" } })
                </td>
            </tr>

            <tr>
                <td width="11%" class="TD_STYLE1">
                    民族
                </td>
                <td class="TD_STYLE2" width="14%">
                    @Html.EditorFor(model => model.human_race, new { htmlAttributes = new { @class = "INPUT_STYLE2", @readonly = "readonly" } })
                </td>
                <td class="TD_STYLE1">
                    宗教信仰
                </td>
                <td class="TD_STYLE2">
                    @Html.EditorFor(model => model.human_religion, new { htmlAttributes = new { @class = "INPUT_STYLE2", @readonly = "readonly" } })
                </td>
                <td class="TD_STYLE1">
                    政治面貌
                </td>
                <td class="TD_STYLE2" colspan="2">
                    @Html.EditorFor(model => model.human_party, new { htmlAttributes = new { @class = "INPUT_STYLE2", @readonly = "readonly" } })
                </td>
            </tr>
            <tr>

                <td class="TD_STYLE1">
                    身份证号码
                </td>
                <td class="TD_STYLE2">
                    @Html.EditorFor(model => model.human_idcard, new { htmlAttributes = new { @class = "INPUT_STYLE2", @readonly = "readonly" } })
                </td>
                <td class="TD_STYLE1">
                    年龄
                </td>
                <td class="TD_STYLE2">
                    @Html.EditorFor(model => model.human_age, new { htmlAttributes = new { @class = "INPUT_STYLE2", @readonly = "readonly" } })
                </td>
                <td class="TD_STYLE1">
                    毕业学校
                </td>
                <td class="TD_STYLE2">
                    @Html.EditorFor(model => model.human_college, new { htmlAttributes = new { @class = "INPUT_STYLE2", @readonly = "readonly" } })
                </td>
                <td class="TD_STYLE1" width="10%">
                    学历
                </td>
                <td class="TD_STYLE2">
                    @Html.EditorFor(model => model.human_educated_degree, new { htmlAttributes = new { @class = "INPUT_STYLE2", @readonly = "readonly" } })
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    教育年限
                </td>
                <td class="TD_STYLE2">
                    @Html.EditorFor(model => model.human_educated_years, new { htmlAttributes = new { @class = "INPUT_STYLE2", @readonly = "readonly" } })
                </td>
                <td class="TD_STYLE1">
                    学历专业
                </td>
                <td class="TD_STYLE2">
                    @Html.EditorFor(model => model.human_educated_major, new { htmlAttributes = new { @class = "INPUT_STYLE2", @readonly = "readonly" } })
                </td>
                <td class="TD_STYLE1">
                    薪酬要求
                </td>
                <td class="TD_STYLE2">
                    @Html.EditorFor(model => model.demand_salary_standard, new { htmlAttributes = new { @class = "INPUT_STYLE2", @readonly = "readonly" } })
                </td>
                <td class="TD_STYLE1">
                    注册时间
                </td>
                <td class="TD_STYLE2">
                    @Html.EditorFor(model => model.regist_time, new { htmlAttributes = new { @class = "INPUT_STYLE2", @readonly = "readonly" } })

                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    特长
                </td>
                <td class="TD_STYLE2">
                    @Html.EditorFor(model => model.human_specility, new { htmlAttributes = new { @class = "INPUT_STYLE2", @readonly = "readonly" } })
                </td>
                <td class="TD_STYLE1">
                    爱好
                </td>
                <td class="TD_STYLE2">
                    @Html.EditorFor(model => model.human_hobby, new { htmlAttributes = new { @class = "INPUT_STYLE2", @readonly = "readonly" } })
                </td>
                <td class="TD_STYLE1">
                    <span style="font-size: 10.5pt; font-family: 宋体;"></span>
                    推荐人
                </td>
                <td class="TD_STYLE2">
                    @Html.EditorFor(model => model.checker, new { htmlAttributes = new { @class = "INPUT_STYLE2", @readonly = "readonly", @id = "checker" } })
                </td>
                <td class="TD_STYLE1">
                    <span style="font-size: 10.5pt; font-family: 宋体;"></span>
                    推荐时间
                </td>
                <td class="TD_STYLE2">
                    @Html.EditorFor(model => model.check_time, new { htmlAttributes = new { @class = "INPUT_STYLE2", @readonly = "readonly" } })

                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    个人履历
                </td>
                <td colspan="7" class="TD_STYLE2">
                    @Html.TextAreaFor(model => model.human_history_records, new { @class = "TEXTAREA_STYLE1", @id = "checker", @rows = "4", @readonly = "readonly" })
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    备注
                </td>
                <td colspan="7" class="TD_STYLE2">
                    @Html.TextAreaFor(model => model.remark, new { @class = "TEXTAREA_STYLE1", @id = "checker", @rows = "4", @readonly = "readonly" })
                </td>
            </tr>

            <tr>
                <td class="TD_STYLE1">
                    推荐意见
                </td>
                <td class="TD_STYLE2" colspan="7">
                    @Html.TextAreaFor(model => model.recomandation, new { @class = "TEXTAREA_STYLE1", @id = "checker", @rows = "4", @readonly = "readonly" })
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    面试次数
                </td>
                <td class="TD_STYLE2">
                    @Html.TextBox("interview_amount", eir.interview_amount, new { @class = "INPUT_STYLE2", @readonly = "readonly" })
                </td>
                <td class="TD_STYLE1">
                    形象评价
                </td>
                <td class="TD_STYLE2">
                    @Html.TextBox("image_degree", eir.image_degree, new {  @class = "INPUT_STYLE2", @readonly = "readonly" })
                </td>
                <td class="TD_STYLE1">
                    口才评价
                </td>
                <td class="TD_STYLE2">
                    @Html.TextBox("native_language_degree", eir.native_language_degree, new { @class = "INPUT_STYLE2", @readonly = "readonly"  })
                </td>
                <td class="TD_STYLE1">
                    外语口语能力
                </td>
                <td class="TD_STYLE1">
                   @Html.TextBox("foreign_language_degree", eir.foreign_language_degree, new {  @class = "INPUT_STYLE2", @readonly = "readonly"  })
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    应变能力
                </td>
                <td class="TD_STYLE2">
                    @Html.TextBox("response_speed_degree", eir.response_speed_degree, new { @class = "INPUT_STYLE2", @readonly = "readonly"  })
                </td>
                <td class="TD_STYLE1">
                    EQ
                </td>
                <td class="TD_STYLE2">
                   @Html.TextBox("EQ_degree", eir.EQ_degree, new {  @class = "INPUT_STYLE2", @readonly = "readonly"  })
                </td>
                <td class="TD_STYLE1">
                    IQ
                </td>
                <td class="TD_STYLE2">
                    @Html.TextBox("IQ_degree", eir.IQ_degree, new { @class = "INPUT_STYLE2", @readonly = "readonly"  })
                </td>
                <td class="TD_STYLE1">
                    综合素质
                </td>
                <td class="TD_STYLE1">
                    @Html.TextBox("multi_quality_degree", eir.multi_quality_degree, new { @class = "INPUT_STYLE2", @readonly = "readonly"  })
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    面试人
                </td>
                <td class="TD_STYLE2">
                    @Html.TextBox("register", eir.register1, new { @class = "INPUT_STYLE2", @readonly = "readonly" })
                </td>
                <td class="TD_STYLE1">
                    面试时间
                </td>
                <td class="TD_STYLE2">
                    @Html.TextBox("registe_time", eir.registe_time, new { @class = "INPUT_STYLE2", @readonly = "readonly"  })

                </td>
                <td class="TD_STYLE1">
                    筛选人
                </td>
                <td class="TD_STYLE2">
                   @Html.TextBox("checker1", eir.checker, new {  @class = "INPUT_STYLE2", @readonly = "readonly"})

                </td>
                <td class="TD_STYLE1">
                    筛选时间
                </td>
                <td class="TD_STYLE2">
                    @Html.TextBox("check_time", eir.check_time, new { @class = "INPUT_STYLE2", @readonly = "readonly" })
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    录用申请审核意见
                </td>
                <td class="TD_STYLE2" colspan="7">
                    @Html.TextAreaFor(model => model.pass_checkComment, new { @class = "TEXTAREA_STYLE1", @id = "passCheckcomment", @rows = "4", @readonly = "readonly" })
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    录用申请审批审核意见 
                </td>
                <td class="TD_STYLE2" colspan="7">
                    @Html.TextArea("pass_passComment", "通过", new { @class = "TEXTAREA_STYLE1", @rows = "4", @readonly = "readonly", @id = "passPasscomment" })
                </td>
            </tr>
        </table>
    </form>




</body>
</html>
